@import "tailwindcss";
@import "fumadocs-ui/css/catppuccin.css";
@import "fumadocs-ui/css/preset.css";

/* Custom Emerald Logo Color (#44a848) */
:root {
  --color-fd-primary: #3da441;
  --color-fd-primary-foreground: #ffffff;
  --color-fd-ring: #758475;
}

.dark {
  --color-fd-primary: #44a848;
  --color-fd-primary-foreground: #091a0a;
  --color-fd-ring: #758475;
}
